
*.vsidx
.vs/PrestaMovie/v17/.suo
*.dll
*.exe
*.pdb
PrestaMovie.webapp/bin/Debug/net6.0/PrestaMovie.webapp.staticwebassets.runtime.json
PrestaMovie.webapp/bin/Debug/net6.0/PrestaMovie.webapp.staticwebassets.runtime.json
*.cache
*.dll
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.GeneratedMSBuildEditorConfig.editorconfig
PrestaMovie.webapp/obj/Debug/net6.0/project.razor.vs.json
PrestaMovie.webapp/obj/project.nuget.cache
PrestaMovie.webapp/obj/project.assets.json
PrestaMovie.webapp/obj/Debug/net6.0/staticwebassets/msbuild.PrestaMovie.webapp.Microsoft.AspNetCore.StaticWebAssets.props
PrestaMovie.webapp/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.PrestaMovie.webapp.props
PrestaMovie.webapp/obj/Debug/net6.0/staticwebassets/msbuild.build.PrestaMovie.webapp.props
PrestaMovie.webapp/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.PrestaMovie.webapp.props
PrestaMovie.webapp/obj/Debug/net6.0/staticwebassets.pack.json
PrestaMovie.webapp/obj/Debug/net6.0/staticwebassets.development.json
PrestaMovie.webapp/obj/Debug/net6.0/staticwebassets.build.json
PrestaMovie.webapp/obj/Debug/net6.0/project.razor.vs.json
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.pdb
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.genruntimeconfig.cache
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.GeneratedMSBuildEditorConfig.editorconfig
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.dll
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.csproj.FileListAbsolute.txt
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.csproj.CoreCompileInputs.cache
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.csproj.AssemblyReference.cache
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.assets.cache
PrestaMovie.webapp/obj/Debug/net6.0/apphost.exe
PrestaMovie.webapp/bin/Debug/net6.0/PrestaMovie.webapp.staticwebassets.runtime.json
.vs/PrestaMovie/v17/.suo
*.v2
.vs/ProjectEvaluation/prestamovie.metadata.v5.1
.vs/ProjectEvaluation/prestamovie.metadata.v5.1
*.1
.vs/ProjectEvaluation/prestamovie.projects.v5.1
.vs/PrestaMovie/v17/.suo
.vs/PrestaMovie/v17/.suo
*.suo
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.assets.cache
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.csproj.AssemblyReference.cache
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.GeneratedMSBuildEditorConfig.editorconfig
PrestaMovie.webapp/obj/Debug/net6.0/project.razor.vs.json
*.v2
*.bin
*\.suo
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.GeneratedMSBuildEditorConfig.editorconfig
PrestaMovie.webapp/obj/Debug/net6.0/PrestaMovie.webapp.assets.cache
*.cache
PrestaMovie.webapp/obj/Debug/net6.0/project.razor.vs.json

.vs/PrestaMovie/v17/.suo
